.header
    i.fas.fa-exchange-alt.fa-lg.side-toggling
    .dropdown.notify
        i.fa.fa-bell.fa-lg#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noty-head
                | ELMester Notifications
            .noty-content
                | ELMester Notifications
            .noty-foot
                a(href="#") ELMester Notifications
    i.fas.fa-expand.fa-lg.fullscreen
    .dropdown.user-megamenu
        .username#userMenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="imgs/1.jpg", alt="User Avatar")
            span.user Ibrahim ELMester
            i.fa.fa-arrow-circle-down.fa-sm.mega-down
        .dropdown-menu.dropdown-menu-right(aria-labelledby='userMenu')
            .mega-head
                h4 Ibrahim ELMester
                p Premium Mempership
                hr
            .mege-content
                | Content
                hr
            .mega-foot
                span.log-span
                    i.fa.fa-power-off.power-icon
                    | Logout