.sidebar
    .logo.text-center ELMester
    ul.links.list-unstyled
        li: a(href="homepage.html" class= pageTitle === 'home' ? 'active' : '') Homepage
        li: a(href="about.html" class= pageTitle === 'about' ? 'active' : '') ABOUT
        li 
            a.arrows(href="#") 
                | Skills 1
                i.fa.fa-arrow-circle-right
            ul.sub-links.list-unstyled
                li: a(href="#") HTML5
                li: a(href="#") CSS3
                li: a(href="#") JS
                li: a(href="#") JQUERY
                li: a(href="#") BOOTSTRAP
                li: a(href="#") PYTHON
        li 
            a.arrows(href="#")
                | Skills 2
                i.fa.fa-arrow-circle-right
            ul.sub-links.list-unstyled
                li: a(href="#") SASS
                li: a(href="#") PUG
                li: a(href="#") GULP
                li: a(href="#") WIREFRAMING
                li: a(href="#") COMMAND LINE
                li: a(href="#") GIT / GITHUB
                