* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    &.roboto {
        font-family: 'Roboto', sans-serif;
    }
    &.baloo {
        font-family: 'Baloo Bhaina 2', cursive;
    }
    &.bangers {
        font-family: 'Bangers', cursive;
    }
    &.mono {
        font-family: 'Roboto Mono', monospace;
    }
}

.page {
    min-height: 100vh;
    .content {
        width: calc(100% - 250px);
        min-height: 100vh;
        transition: .3s;
        will-change: width;
        background-color: #f6f6f6;
        float: right;
        &.no-side {width: 100%}
    }
    .sub-content {
        padding: 20px;
        .page-title {
            font-weight: bold;
            text-transform: uppercase;
            color: #d63031;
        }
        // .page-discription {
        //     padding: 20px;
        // }
    }
}
