.header {
    background-color: #fff;
    padding: 15px;
    color: rgb(105, 105, 105);
    .fa:hover,
    .fas:hover {
        color: #d63031;
    }
    .side-toggling {
        cursor: pointer;
    }
    .notify {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        .dropdown-menu {
            top: 20px !important;
            border: none;
            box-shadow: 0 0 10px #ddd;
            width: 500px;
            cursor: initial;
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                left: 0;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ddd transparent;
            }
            .noty-head {
                background-color: #333;
                padding: 10px;
                margin-top: -8px;
                color: #fff;
                text-align: center;
            }
            .noty-content {
                background-color: #eee;
                padding: 10px;
            }
            .noty-foot {
                text-align: center;
                a {
                    display: block;
                    padding: 5px;
                    margin-bottom: -5px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .fullscreen {
        margin-left: 30px;
        cursor: pointer;
    }
    .user-megamenu {
        float: right;
        user-select: none;
        .avatar {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
        .user {
            font-weight: bold;
            margin-right: 5px;
            cursor: pointer;
        }
        .mega-down {
            cursor: pointer;
        }
        .dropdown-menu {
            top: 10px !important;
            border: none;
            box-shadow: 0 0 10px #ddd;
            width: 400px;
            padding: 15px;
            z-index: 123456;
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                right: 50px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ddd transparent;
            }
            .mega-head {
                h4 {
                    color: #d63031;
                }
            }
            .mega-foot {
                .log-span {
                    background-color: #eee;
                    display: block;
                    border-radius: 8px;
                    width: 200px;
                    text-align: center;
                    margin: auto;
                    cursor: pointer;
                    padding: 10px;
                }
                .power-icon {
                    margin-right: 5px;
                }
            }
        }
    }
}
