.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    transition: .3s;
    &.no-side {
        left: -250px;
    }
    .logo {
        font-size: 30px;
        font-weight: bold;
        background-color: #fff;
        color: #333;
        padding: 10px;
        margin-bottom: 5px;
    }
    .links {
        // All links
        li {
            a {
                color: #ccc;
                display: block;
                padding: 10px;
                transition: .4s;
                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        // Main links
        > li > a {
            position: relative;
            text-transform: uppercase;
            color: #fff;
            padding-left: 20px;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 10px;
                height: 10px;
                border: 2px solid #fff;
                transform: translateY(-50%);
                border-radius: 50%;
            }
            &:hover {
                padding-left: 30px;
            }
            &.active {
                &:before {
                    border-color: #d63031;
                }
            }
            .fa-arrow-circle-right {
                float: right;
                transition: .3s;
                &.down {
                    transform: rotate(90deg);
                }
            }
        }
        
        .sub-links {
            position: relative;
            display: none;
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                top: 0;
                width: 4px;
                height: 100%;
                background-color: #666;
            }
            li {
                a {
                    padding: 5px;
                    padding-left: 40px;
                    position: relative;
                    &:hover:before {
                        content: "";
                        position: absolute;
                        left: 15px;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}